<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABOUT ZIHONG | Resume</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="resume.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

    <style>
      .fade-enter-active {
        transition: all 2s;
      }
    </style>
  </head>

  <body>
    <header>
      <h1 class="text-white text-8xl py-36 font-bold font-['Raleway'] flex flex-col">
        <span class="pl-36 border-t-4 border-white mr-auto">Hello there.</span>
        <span class="pr-56 text-right border-b-4 border-white ml-auto mt-4">
          I'm
          <i>ZiHong Lin.</i>
        </span>
      </h1>
    </header>

    <div class="container mx-auto mt-8" id="aboutMe">
      <h2 class="border-l-[18px] py-1 border-amber-400 pl-4 text-2xl font-bold">About me</h2>
      <div class="grid grid-cols-5 mt-10">
        <div class="justify-center items-center flex col-span-2">
          <img src="photo.jpg" class="w-3/4 rounded-lg border-4 h-fit" alt="" />
        </div>
        <div class="col-span-3 flex flex-wrap content-around border-2 border-amber-400 rounded-md pl-8 py-4">
          <h3 class="w-full text-3xl font-bold">林子紘 Henry Lin</h3>
          <ul class="my-5">
            <li>
              <img src="https://upload.wikimedia.org/wikipedia/zh/thumb/3/33/National_Chengchi_University_logo.svg/1200px-National_Chengchi_University_logo.svg.png" class="w-10 inline text-xl my-1 mr-4" alt="" />
              國立政治大學 資訊管理學系 碩士 2022/09 ~ 2024/06
            </li>
            <li>
              <img src="https://upload.wikimedia.org/wikipedia/zh/thumb/2/29/National_Sun_Yat-sen_University_logo.svg/1200px-National_Sun_Yat-sen_University_logo.svg.png" class="w-10 inline text-xl my-1 mr-4" alt="" />
              國立中山大學 資訊管理學系 學士 2018/09 ~ 2022/06
            </li>
          </ul>
          <ul class="list-disc text-lg ml-8">
            <li class="my-1">
              具有豐富的
              <span class="text-red-500 font-bold">商業數據分析</span>
              以及
              <span class="text-red-500 font-bold">文字分析</span>
              經驗，熟悉R、Python、SQL等語言
            </li>
            <li class="my-1">
              擔任
              <span class="text-red-500 font-bold">新創團隊網頁工程師</span>
              ，負責建立平台並且利用Vue.js撰寫後台
            </li>
            <li class="my-1">
              在巨量資料分析課程以及深度學習課程具有
              <span class="text-red-500 font-bold">機器學習</span>
              以及
              <span class="text-red-500 font-bold">深度學習</span>
              建模經驗
            </li>
            <li class="my-1">
              修習
              <span class="text-red-500 font-bold">資料視覺化</span>
              課程，具有D3.js、Chart.js、plotly應用之能力
            </li>

            <li class="my-1">
              擔任
              <span class="text-red-500 font-bold">系學會副會長、活動長</span>
              ，具有豐富的領導以及活動規劃經驗
            </li>
          </ul>
          <ul class="flex mt-5 justify-start flex-wrap">
            <li v-for="keyword in keywords" class="font-bold m-2 rounded-full border px-4 py-1 text-sm border-cyan-500 text-cyan-700 hover:bg-cyan-500 hover:text-white cursor-default">{{keyword}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container mx-auto mt-8" id="work">
      <h2 class="border-l-[18px] py-1 border-amber-400 pl-4 text-2xl font-bold">Work Experience</h2>
      <div class="mt-2 px-12 bg-gray-100 py-5 rounded-xl">
        <div class="flex justify-between">
          <p class="text-xl">
            新光金控 - 數位科技實習生
            <span>Digital Technology Intern</span>
          </p>
          <p class="text-xl text-gray-600">2022/07 ~ 2022/09</p>
        </div>

        <p class="my-3 text-gray-500">爬取PTT、App store、Google play等社群輿論資料，針對新光關鍵數位產品和服務利用資料視覺化建立輿論分析視覺化平台，協助行銷以及策略人員快速了解輿論變化以及進行行銷、App開發等決策。</p>
        <ul class="list-disc pl-12">
          <li class="mb-3">Backend : Flask</li>
          <li class="mb-3">Frontend : Vue, D3.js</li>
          <li class="mb-3">Database ：Azure cosmos DB(NoSQL)</li>
          <li class="mb-3">Clawer ： Python( BeautifulSoup, Selenium )</li>
        </ul>
        <ul class="mr-auto flex justify-end">
          <li v-for="tool in SKtools" class="mx-3 rounded-full border px-4 py-1 text-sm border-cyan-500 text-cyan-700 hover:bg-cyan-500 hover:text-white cursor-default">{{ tool }}</li>
        </ul>
      </div>
      <div class="mt-5 px-12 bg-gray-100 py-5 rounded-xl">
        <div class="flex justify-between">
          <p class="text-xl">
            中山GO - 網頁工程師
            <span>Web Developer</span>
          </p>
          <p class="text-xl text-gray-600">2021/02 ~ 2021/08</p>
        </div>

        <p class="my-3 text-gray-500">
          中山GO為一新創團隊，團隊目標是建立一個群募和電商的平台連接校友與學生。團隊在6個月內完成開發客製化電商平台，在七月平台上線超過1000人以上註冊。
          <br />
          開發內容包括Landing page、平台首頁、會員購物車、並且利用Vue.js開發平台後台
        </p>
        <ul class="list-disc pl-12">
          <li class="mb-3">負責平台的開發與維護及內容更新</li>
          <li class="mb-3">配合後端與設計進行前端頁面開發</li>
          <li class="mb-3">優化網頁SEO與User Experience</li>
          <li class="mb-3">利用Vue.js開發平台後台</li>
        </ul>
        <ul class="mr-auto flex justify-end">
          <li v-for="tool in tools" class="mx-3 rounded-full border px-4 py-1 text-sm border-cyan-500 text-cyan-700 hover:bg-cyan-500 hover:text-white cursor-default">{{ tool }}</li>
        </ul>
      </div>
    </div>
    <div class="bg-sky-50 py-3 mt-5">
      <div class="container mx-auto" id="skill">
        <h2 class="border-l-[18px] py-1 border-amber-400 pl-4 text-2xl font-bold">Skills and Experience</h2>
        <div class="mt-5">
          <div class="grid grid-cols-3 mx-5 gap-8">
            <div v-for="skill in skills">
              <p class="text-xl font-bold border-b-2 border-cyan-500 pb-2 mb-2">{{skill.title}}</p>
              <ul class="list-disc ml-5">
                <li v-for="item in skill.list " class="mb-2">{{item}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto mt-8">
      <h2 class="border-l-[18px] py-1 border-amber-400 pl-4 text-2xl font-bold">Portfolio</h2>
    </div>
    <div id="portfolio">
      <div class="flex justify-center border-t-2 border-b-2 border-sky-200 mt-8 type-select">
        <ul class="flex justify-center my-4">
          <li v-for="type,idx in types" class="text-lg flex">
            <button :class="[typesEnglish[idx].current ? 'bg-cyan-700 text-white' : 'text-gray-700 hover:bg-cyan-500 hover:text-white ', 'block px-3 py-2 rounded-md ']" @click="changeContent(typesEnglish[idx].name)">
              <transition appear appear-active-class="fade-enter-active">{{type}}</transition>
            </button>
          </li>
        </ul>
      </div>
      <div class="container mx-auto">
        <div v-for="item in filteredItems" class="grid grid-cols-3 bg-gray-100 mt-10 gap-8 py-8 px-14 hover:bg-gray-200 rounded-lg items-center transition-all duration-300">
          <div class="relative">
            <a v-if="item.link" :href="item.link" target="_blank">
              <div class="relative">
                <img :src="'img/' +item.img" alt="" class="rounded-lg w-full" />
                <div class="flex justify-center items-center h-full w-full text-white text-4xl rounded-lg absolute top-0 left-0 opacity-0 bg-gray-500 hover:opacity-60 transition-all duration-300">
                  <span class="text-white">點擊查看</span>
                </div>
              </div>
            </a>
            <p v-if="item.link" class="text-center mt-3 text-lg font-bold text-rose-500">▲ 點擊圖片前往查看</p>
            <img :src="'img/' +item.img" alt="" class="rounded-lg w-full" v-else="" />
          </div>

          <div class="col-span-2">
            <div class="flex justify-between">
              <p class="text-2xl">{{item.title}}</p>
              <p class="text-xl">{{item.time}}</p>
            </div>
            <p class="mt-5 text-lg text-gray-600">{{item.content}}</p>
            <p class="mt-5">{{item.subtitle}}</p>
            <ul class="list-disc ml-10">
              <li v-for="special in item.list">{{special}}</li>
            </ul>
            <ul class="flex mt-5 justify-end">
              <li class="mx-2 rounded-full border px-4 py-1 text-sm border-cyan-500 text-cyan-700 hover:bg-cyan-500 hover:text-white cursor-default" v-for="keyword in item.keyword">{{keyword}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto mt-10">
      <h2 class="border-l-[18px] py-1 border-amber-400 pl-4 text-2xl font-bold">Capstone Project</h2>
      <div class="grid grid-cols-3 bg-gray-100 mt-5 px-10 gap-8">
        <div class="flex justify-center content-center px-5 flex-wrap">
          <a href="https://youtu.be/Omqx8X7FnHI" target="_blank">
            <div class="relative">
              <img src="img/firenews.png" alt="" class="rounded-lg w-full py-16 bg-white" />
              <div class="flex justify-center items-center h-full w-full text-white text-4xl rounded-lg absolute top-0 left-0 opacity-0 bg-gray-500 hover:opacity-60 transition-all duration-300">
                <span class="text-white">點擊查看</span>
              </div>
            </div>
          </a>
          <p class="text-center mt-3 text-lg font-bold text-rose-500">▲ 點擊圖片前往查看</p>
        </div>
        <div class="py-5 rounded-xl col-span-2">
          <div class="flex justify-between">
            <p class="text-2xl">FireNews 讓你輕鬆了解新聞大小事</p>
            <p class="text-xl text-gray-600">2021/01 ~ 2021/11</p>
          </div>

          <p class="my-3 text-gray-500">此專案為一新聞自動懶人包平台，蒐集新聞並將新聞自動整理成懶人包以及事件發生時間軸，並且將新聞資訊資料視覺化，讓使用者能夠透過此平台快速又輕鬆的了解新聞大小事。</p>
          <p class="text-bold text-lg">※系統特色</p>
          <ul class="list-disc pl-12 mt-1">
            <li class="mb-2">將新聞統整並擷取摘要，依照時間順序透過時間軸呈現</li>
            <li class="mb-2">利用資料視覺化使使用者快速了解大眾與媒體立場</li>
            <li class="mb-2">整合新聞各方立場，避免使用者只接收單一立場之新聞</li>
          </ul>
          <p class="text-bold text-lg">※擔任角色</p>
          <ul class="list-disc pl-12 mt-1">
            <li>組長、前端開發、資料視覺化、情緒分析、新聞爬蟲</li>
          </ul>
          <ul class="flex mt-5 justify-end">
            <li class="mx-2 rounded-full border px-4 py-1 text-sm border-cyan-500 text-cyan-700 hover:bg-cyan-500 hover:text-white cursor-default">專案規劃</li>
            <li class="mx-2 rounded-full border px-4 py-1 text-sm border-cyan-500 text-cyan-700 hover:bg-cyan-500 hover:text-white cursor-default">資料視覺化</li>
            <li class="mx-2 rounded-full border px-4 py-1 text-sm border-cyan-500 text-cyan-700 hover:bg-cyan-500 hover:text-white cursor-default">情緒分析</li>
            <li class="mx-2 rounded-full border px-4 py-1 text-sm border-cyan-500 text-cyan-700 hover:bg-cyan-500 hover:text-white cursor-default">新聞爬蟲</li>
          </ul>
        </div>
      </div>
    </div>

    <footer class="bg-slate-600 pt-8 pb-2 mt-10 text-white font-['Raleway']">
      <p class="text-4xl font-bold text-center mb-10">Contact me</p>
      <ul class="flex justify-center mt-16 mb-20">
        <li class="text-xl mx-3">
          <a href="zihong518@gmail.com" class="flex items-center" target="_blank">
            <img src="img/mail.svg" alt="" class="mx-2" />
            <p>Email</p>
          </a>
        </li>
        <li class="text-xl mx-3">
          <a href="https://github.com/zihong518" class="flex items-center" target="_blank">
            <img src="img/github.svg" alt="" class="mx-2" />
            <p>Github</p>
          </a>
        </li>
        <li class="flex items-center text-xl mx-3">
          <a href="https://www.linkedin.com/in/%E5%AD%90%E7%B4%98-%E6%9E%97-662478224/" class="flex items-center" target="_blank">
            <img src="img/linkedin.svg" alt="" class="mx-2" />
            <p>Linkedin</p>
          </a>
        </li>
        <li class="flex items-center text-xl mx-3">
          <a href="https://medium.com/@zihong518" class="flex items-center no-line" target="_blank">
            <img src="img/medium.svg" alt="" class="mx-2" />
            <p>Medium</p>
          </a>
        </li>
      </ul>
      <p class="text-center text-slate-300">© Copyright ZiHong Lin 2022</p>
    </footer>

    <div id="preloader" class="fixed top-0 left-0 bg-white h-full w-full flex-col opacity-100 transition-all duration-1000 flex justify-center items-center">
      <div class="animate-bounce spinner-grow inline-block w-14 h-14 bg-current rounded-full text-blue-800" role="status">
        <span class="invisible">Loading...</span>
      </div>
      <p class="text-lg animate-bounce">loading</p>
    </div>

    <script src="vue.js"></script>

    <script>
      const loading = document.getElementById('preloader')
      window.addEventListener('load', function (event) {
        console.log('All resources finished loading!')
        loading.classList.remove('opacity-100')
        loading.classList.add('opacity-0')
        setTimeout(() => {
          loading.classList.remove('fixed')
          loading.classList.add('hidden')
        }, '600')
      })
    </script>
  </body>
</html>
